<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persona 3 Reload Menu Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-main">MAIN</div>
    </div>
    
    <!-- Menu Content -->
    <div class="menu-wrapper">
        <div class="menu">
            <a href="about" class="menu-item"><span>About Me</span></a>
            <a href="projects" class="menu-item">Projects</a>
            <a href="uses" class="menu-item">Uses</a>
            <a href="contact" class="menu-item">Contact</a>
            <a href="about" class="menu-item">Fifth Thing</a>
        </div>
    </div>
    
</body>
</html>