<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persona 3 Reload Menu Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="menu">
        <div class="menu-item"><span>About Me</span></div>
        <div class="menu-item">Projects</div>
        <div class="menu-item">Uses</div>
        <div class="menu-item">Contact</div>
        <div class="menu-item">Fifth Thing</div>
    </div>
</body>
</html>